<div class="relative inline-block text-left" data-controller="dropdown">
  <button type="button" data-action="click->dropdown#toggle" class="inline-flex items-center text-green-deep hover:text-green-primary focus:outline-none p-1 rounded hover:bg-green-light" onclick="event.stopPropagation();">
    <%= render "shared/svg_icons/more_vertical", class: "w-5 h-5" %>
  </button>
  
  <div data-dropdown-target="menu" class="hidden dropdown-menu" onclick="event.stopPropagation();">
    <div class="py-1">
      <% if defined?(show_path) && show_path %>
        <%= link_to show_path, class: "dropdown-item" do %>
          <%= render "shared/svg_icons/eye", class: "w-4 h-4 mr-2" %>
          View
        <% end %>
      <% end %>
      
      <% if defined?(edit_path) && edit_path %>
        <%= link_to edit_path, class: "dropdown-item" do %>
          <%= render "shared/svg_icons/edit", class: "w-4 h-4 mr-2" %>
          Edit
        <% end %>
      <% end %>
      
      <% if defined?(stock_path) && stock_path %>
        <%= link_to stock_path, class: "dropdown-item" do %>
          <%= render "shared/svg_icons/settings", class: "w-4 h-4 mr-2" %>
          Manage Stock
        <% end %>
      <% end %>
      
      <% if defined?(delete_path) && delete_path %>
        <% confirm_message = defined?(delete_confirm) && delete_confirm ? delete_confirm : "Are you sure you want to delete this?" %>
        <%= button_to delete_path,
            method: :delete,
            form: {
              data: {
                confirm: confirm_message,
                turbo_confirm: confirm_message
              },
              class: "inline m-0 p-0",
              onclick: "event.stopPropagation();"
            },
            class: "flex items-center w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50 transition-colors duration-200 bg-transparent border-0 cursor-pointer",
            onclick: "event.stopPropagation();" do %>
          <%= render "shared/svg_icons/trash", class: "w-4 h-4 mr-2" %>
          Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>
